<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}"><i class="fa fa-home"></i></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistemas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('frontend_nuevo_ticket') }}">Nueva Solicitud de Soporte </a>
                        <li><a href="{{ path('icticket_index') }}">Solicitudes de Soporte</a>
                        <li><a href="{{ path('icfosperfil_index') }}">FosPerfil de Usuarios</a>

                    </ul>
                </li>
                acreditacion_index
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Operaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('acreditacion_index') }}">Acreditaciones </a>
                    </ul>
                </li>
                <li><a href="#contact">Comunicacion</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="side-li">
                        <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i><span class="texto">Salir</span></a>
                    </li>
                {% endif %}

            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->


