{% extends 'base_frontend.html.twig' %}

{% block content %}
    <div class="col-md-6 col-md-offset-1">

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" align="center">
                    <i class="fa fa-star" aria-hidden="true"></i> Acciones</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12" align="center">
                    <div class="col-md-4">
                        <input class="btn btn-sm btn-success btn-block" type="submit" value="Salvar" />
                        {{ form_end(edit_form) }}
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('icfosperfil_index') }}"><button type="button" class="btn btn-sm btn-block btn-default"> Regresar</button></a>
                    </div>
                    <div class="col-md-4">
                        {{ form_start(delete_form) }}
                        <input class="btn btn-sm btn-danger btn-block" type="submit" value="Borrar">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
