{% extends 'base_frontend.html.twig' %}

{% block content %}

    <div class="col-sm-12 ">

        <div class="panel-heading custom-header-panel">
            <div class="col-sm-3" align="left">
                <img class="img-responsive" width="40%" height="40%" src="/bundles/icfrontend/images/l-t.png">
            </div>
            <div align="left">
                <h3>Servicios Profesionales S.A de C.V</h3>
                <h2 class="panel-title roboto">Listado de Acreditaciones</h2>
            </div>
        </div>


        <div class="panel-body">
            <a href="{{ path('acreditacion_exporta') }}">EXPORTAR</a>

            <table class="table table-hover table-bordered">

                <thead>
                <tr>
                    <th>Folio</th>
                    <th>Autorizado</th>
                    <th>Solicitante</th>
                    <th>Nombre en Acreditacion</th>
                    <th>Puesto</th>
                    <th>Patrocinador</th>
                    <th>Fotografia</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
                </thead>

                <tbody>
                {% for icAcreditacion in icAcreditacions %}
                    <tr>
                        <td>{{ icAcreditacion.id }}</td>
                        <td>{{ icAcreditacion.idFosPerfil }}</td>
                        <td>{{ icAcreditacion.solicitante }}</td>
                        <td>{{ icAcreditacion.nombreEnAcreditacion }}</td>
                        <td>{{ icAcreditacion.puesto }}</td>
                        <td>{{ icAcreditacion.patrocinador }}</td>
                        <td>
                            <img src="http://sistemas.xolos.com.mx/uploads/imagen/acreditaciones/{{ icAcreditacion.fotografia }}"
                                 width="40px" height="50px"/>.
                        </td>
                        <td>{{ icAcreditacion.descripcion }}</td>
                        <td>{{ icAcreditacion.cantidad }}</td>
                        <td>
                            {% if icAcreditacion.cantidad == 1 %}
                                <a class="btn btn-default"
                                   href="{{ path('acreditacion_show', { 'id': icAcreditacion.id }) }}"><em
                                            class="fa fa-file-pdf-o"></em></a>
                            {% else %}
                                <a class="btn btn-default"
                                   href="{{ path('acreditacion_lista', { 'id': icAcreditacion.id }) }}"><em
                                            class="fa fa-eye"></em></a>
                            {% endif %}

                            <a class="btn btn-danger"
                               href="{{ path('acreditacion_edit', { 'id': icAcreditacion.id }) }}"><em
                                        class="fa fa-pencil"></em></a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul>
            <li>
                <a class="btn btn-danger" href="{{ path('acreditacion_new') }}"><em class="fa fa-plus"></em>AGREGAR</a>
            </li>
        </ul>

        <div class="navigation">
            {{ knp_pagination_render(icAcreditacions) }}
        </div>

    </div>


{% endblock %}
